* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}

#root {
    width: 1024px;
    margin: auto;
}

.canvas {
    position: relative;
}

.canvas__parameters {
    position: absolute;
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    background: #FFCC99;
    border-radius: 10px 0 10px 0;
}

.canvas__canvas {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #00000033;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
}

input[type="color"] {
    background: none;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    display: block;
}

button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}