* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}

#root {
    width: 1024px;
    margin: auto;
}

.canvas {
    position: relative;
}

.canvas__parameters {
    left: 20px;
    top: 20px;
    position: absolute;
    padding: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #00000033;
    user-select: none;
}

.canvas__canvas {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #00000033;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
}

input[type="color"] {
    display: none;
}

button, label {
    outline: none;
    color: #007AFF;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
